
nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: auto;
  position:relative;
  width:100%;
  min-height: 30px;
  overflow:hidden
}
.nav-bar-left-container{
  width:25%;
  float:left;
  margin:auto;


}
.nav-top-right-container{
  width:70%;
  float:left;


}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;

}
.top-links li {
  display: inline-block;
  margin: 0 10px
}
.build-main-container{
  width:100%;
  height:600px;
  position:relative;
  color:white;
  background-image: url('images/city-scape.svg');
  background-size: cover;
  margin: 0 auto;
  float:left;
  overflow:hidden
}

.build-top-container-left{
  float:left;
  width:70%;
  height:25px;
  position:relative;
  margin:-35px auto 5px auto;
}
.build-top-container-left input{
  width:80%;
  height:100%;
  float:left;
  background-color:rgb(32, 101, 136);
  border-width:1px;
  border-color:grey
}


    .build-top-container-right{
      float:right;
      color:white;
      padding:0px 25px;
      height:40px;
      width:20%;
      text-align:right;
      margin:-35px auto 5px auto;
      vertical-align:center

  }


  .logo{
    width:85px;
    height:auto;
    float:left;
    margin:3px 0px
  }

.build-main-container h3{
  padding-left:50px

}
.build-main-container h1{
  font-size:3em;
padding-left:50px;
padding-top:30px
}

.button{
  background-color:rgb(240, 146, 51);
  border-radius:10px;
  padding:10px;
  color:white;
  margin:15px 50px
}
.collaboration-container{
  height:600px;
  width:100%;
  height:auto;
  background-color:rgb(39, 53, 71);
  position:relative;
  float:left;
  overflow:hidden

}
.collaboration-container-mini{margin: 20px auto;
  width:70%;
  height:70%;
  color:white;



}
.collaboration-container-mini img{
  float:left;
  width:70%;
  height:70%;
  margin:40px
}
.colloaboration-container-mini ul,
.colloaboration-container-mini button,
.colloaboration-container-mini p{
  margin:auto 40px

}
.button-collaboration{
  background-color:rgb(39, 53, 71);
  border-radius:10px;
  padding:10px;
  color:white;
  float:right}

.whatis-container{
  background-image:url('images/forklift.svg');
  background-size:cover;
  height:500px;
  width:100%;
  float:left;
  background-size:cover;
  position:relative

}
.whatis-text-container{position:absolute;
  margin:0px auto;
  width:auto;
  height:auto;
  padding:25px;
  left:10%;
  top:10%;
  color:white

}
.whatis-text-container button{
   background-color:rgb(49, 68, 88);
  border-radius:10px;
  padding:10px;
  color:white;
  align:center;
}

.building-block-main-container{
  background-color:white;
  float:left;
  height:auto;
  width:100%

}
.building-block-main-container-heading{text-align:center;
  margin:2px auto;

}
.building-block-container{width:30%;
  margin:2% 1.5%;
  text-align:center;
  background-color:white;
  float:left;
